<div class="contenedor">
  <header>
<nav class="navbar navbar-expand-lg navbar-light menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;">IT Bookstore</a>    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" href="#">Iniciar Sesión</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" href="#">Registrarse</a>
        </li>     
      </ul>      
    </div>
  </div>
</nav>
</header>

<section class="libro">
  <h1 class="titulo">Libro de Gatos</h1>
  <img class="imagen" src="assets/img/book.jpg" alt="book">
  <article class="texto">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi vel voluptatum quas earum itaque voluptatibus, tempore, hic, doloremque commodi dolorem rem vitae quia ullam est cupiditate voluptatem nulla? Quod nisi accusamus quaerat nulla corporis optio aliquid, voluptates fuga unde eveniet! Tempore sequi culpa suscipit ipsam cum quibusdam facilis commodi odit, libero ullam delectus iusto voluptatibus sunt, tempora, enim doloribus ratione.</p>
  
      <form class="propiedades">
          <h4 class="precio">Valor Unitario $50.000</h4>
          <h4 class="cantidad">Cantidad <input type="number"></h4>
          <h4 class="linea">_______________________</h4>
          <h3 class="total">Total $50.000</h3>
          <button class="boton">Añadir al carrito</button>
      </form>
  </article>
</section>    
</div>
<router-outlet></router-outlet>